[package]
name = "HomeAutomation"
version = "0.1.0"
authors = ["David Kleingeld <dskleingeld@gmail.com>"]
edition = "2018"

[features]
default = []

# Enable code that expects sensor hardware to be present. Will stop execution
# if hardware is not present,
# on by default for testing use cargo flag: --no-default-features
sensors_connected = []
live_server = []

[dependencies]
futures = "0.3"
async-std = "1"
async-trait = "0.1"

actix-web = { version = "2", features = ["rustls"] }
actix-net = "0.2"
actix-identity = "0.2"
actix-files = "0.2"
actix-rt = "1"
actix-service = "1.0"
actix-web-httpauth = "0.4"
rustls = "0.16"

philipshue = { git = "https://github.com/dskleingeld/philipshue", branch = "master" }
# for local dev purpose we use below targets
# philipshue = { path = "../philipshue"}
# secure-ble = { path = "../home_sensors/ble/central"}

structopt = "0.3"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.8"
bincode = "1.3.1"

log = "0.4"
fern = { version = "0.5.6", features = ["colored"] }

gpio-cdev = { git = "https://github.com/rust-embedded/gpio-cdev", branch = "master" }
nix = "0.17"

#tokio = "0.1.15"
ring = "0.16"

linux-embedded-hal = "0.2"
bme280 = "0.1"

smallvec = "0.6"
chrono = { version = "0.4", features = ["serde"] }
chrono-tz = "0.5.1"
bytes = "0.4"
byteorder = "1.3"
num = { version = "0.2"}
hex = "0.4.2"

crossbeam-channel = "0.3"

sled = "0.30"
pagecache = "0.17"
reqwest = {version = "0.10"}

mpd = "0.0.12"
dirs = "2"
rand = "0.6"
retry = "0.5"

telegram-bot = "0.6.3"
serde_json = "1.0"
regex = "1"
#id3 = "0.5.0"